* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(97, 71, 71, 0.5), rgba(189, 164, 164, 0.5)), url('https://images.unsplash.com/photo-1506744038136-46273834b3fb');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 0 8%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.logo {
    color: #fb5b0b;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
    font-weight: bold;
    cursor: pointer;
}

.search input {
    padding: 7px;
    border: none;
    outline: none;
}

.search button {
    background: #fb790f;
    color: white;
    padding: 7px 15px;
    border: none;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.content {
    width: 50%;
}

.content h1 {
    font-size: 50px;
}

.content span {
    color: #ff7200;
}

.content p {
    margin: 20px 0;
    line-height: 1.6;
}

.join-btn {
    width: 150px;
    height: 40px;
    background: #ff7200;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.login-box {
    width: 300px;
    background: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

.login-box h2 {
    color: #ff7200;
    background: white;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.login-box input {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #ff7200;
    color: white;
    margin-bottom: 20px;
    padding: 5px;
    outline: none;
}

.login-btn {
    width: 100%;
    background: #ff7200;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-box a {
    color: #ff7200;
    text-decoration: none;
}

.icons {
    margin-top: 15px;
}

.icons span {
    margin: 0 5px;
    cursor: pointer;
}

.dropdown{
    position: relative;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f06d1c;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(212, 15, 15, 0.2);
    z-index: 1;
}

.dropdown-content li{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content li:hover{
    background-color: #f76821;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;            /* Match your dropdown text color */
    text-decoration: none;   /* Remove the underline */
    display: block;          /* Make the whole area clickable */
    width: 100%;
}

.dropdown-content li:hover {
    background-color: #f1f1f1;
}